<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="snppSettings" type="SNPPlib.Config.SnppSettingsSection, SNPPlib" requirePermission="false" />
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <snppSettings>
    <snpp host="localhost" />
  </snppSettings>
</configuration>
